<h2>Here are your webhooks: </h2>
<table style="width:100%; border-collapse: collapse;">
<tr>
<th style="text-align: left; border: 1px solid #dddddd; padding: 8px;""> Kind </th>
<th style="text-align: left; border: 1px solid #dddddd; padding: 8px;""> Timestamp </th>
</tr>
<% @webhooks.each do |webhook| %>
<tr>
<td style="text-align: left; border: 1px solid #dddddd; padding: 8px;"><%= webhook.kind %></td>
<td style="text-align: left; border: 1px solid #dddddd; padding: 8px;"><%= webhook.timestamp %></td>
</tr>
<% end %>
</table>
